@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
body {
    font-family: 'Yanone Kaffeesatz', sans-serif;

}
a {
    display: block;
    color: #213240;
    text-decoration: none;
}



.project {
    padding: 2rem;
    font-size: 2.5rem;
}

.header {
    border-bottom: 3px solid #213240;
    font-size: 3rem;
    color: #213240;
    padding: 2rem;
    text-align: center;
    /*background: #76B6E5;*/
}

.contact-info {
    font-size: 1.5rem;
}

@media (max-width: 370px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 370px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 900px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.description {
    font-size: 1rem;
    padding-top: 1rem;

}

.gimp-icon:after {
    content: url(gimp.svg);
}

.illustrator-icon:after {
    content: url(ai.svg);
}

.inkscape-icon:after {
    content: url(inkscape.svg);
}

.esri-icon:after {
    content: url(esri3.svg);
}

.qgis-icon:after {
    content: url(QGIS.svg);
}

.access-icon:after {
    content: url(access.svg);
}

.project-header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 1rem;
}

.contact-info > a {
    color: #0077b5;
}